<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">

    <resultMap id="StudentMap" type="Student">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="banji_id" property="banjiId"></result>
        <association property="banji" column="banji_id"
                     select="banji.selectById" javaType="Banji"/>
    </resultMap>

    <sql id="studentColumns">
        id
        ,name,age,gender,banji_id
    </sql>

    <select id="selectAll" resultMap="StudentMap">
        SELECT
        <include refid="studentColumns"/>
        FROM student
    </select>

    <resultMap id="StudentBanjiMap" type="Student">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="banjiId" property="banjiId"></result>
        <association property="banji" javaType="Banji">
            <result column="banjiId" property="id"></result>
            <result column="banjiName" property="name"></result>
        </association>
    </resultMap>

    <!-- 通过id查找学生 -->
    <select id="selectById" parameterType="Integer" resultType="Student">
        SELECT
        <include refid="studentColumns"/>
        FROM student WHERE id=#{id}
    </select>

    <select id="selectByBanjiId" resultType="Student">
        SELECT
        <include refid="studentColumns"/>
        FROM student
        WHERE banji_id = #{banjiId}
    </select>

    <!--<select id="selectAll" resultType="Student">
        SELECT
        <include refid="studentColumns"/>
        FROM student
    </select>-->

    <select id="selectStudentBanjiInfo" resultMap="StudentBanjiMap">
        SELECT s.id, s.`name`, s.age, s.gender, b.id AS banjiId, b.name AS banjiName
        FROM student AS s
                 INNER JOIN banji AS b
                            ON s.banji_id = b.id;
    </select>

    <delete id="deleteById">
        DELETE
        FROM student
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE student
        SET name=#{name},
            age=#{age},
            gender=#{gender},
            banji_id=#{banjiId}
        WHERE id = #{id}
    </update>

    <insert id="add">
        INSERT INTO student(name, age, gender, banji_id)
        VALUES (#{name}, #{age}, #{gender}, #{banjiId})
    </insert>

    <select id="selectByPage" resultType="Student">
        SELECT
        <include refid="studentColumns"/>
        FROM student
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectTotalCount" resultType="Integer">
        SELECT COUNT(*)
        FROM student
    </select>

    <select id="selectByCondition" parameterType="Student" resultType="Student">
        SELECT
        <include refid="studentColumns"/>
        FROM student
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="age!=null">
                AND age=#{age}
            </if>
            <if test="gender!=null and gender!=''">
                AND gender=#{gender}
            </if>
        </where>
    </select>

    <update id="updateCondition" parameterType="Student">
        UPDATE student
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="gender!=null and gender!=''">
                gender=#{gender},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteAllByArray">
        DELETE FROM student
        WHERE id IN
        <foreach collection="array" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAllByList">
        DELETE FROM student
        WHERE id IN
        <foreach collection="list" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectByCondition1" parameterType="Student" resultMap="StudentMap">
        SELECT
        <include refid="studentColumns"/>
        FROM student
        WHERE
        <choose>
            <when test="name!=null and name !=''">
                name=#{name}
            </when>
            <when test="age!=null">
                age=#{age}
            </when>
            <when test="gender!=null and gender !=''">
                gender=#{gender}
            </when>
            <otherwise></otherwise>
        </choose>
    </select>

    <insert id="addSelective" parameterType="Student">
        INSERT INTO student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="age!=null and age!=''">
                age,
            </if>
            <if test="gender!=null and gender!=''">
                gender,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="age!=null and age!=''">
                #{age},
            </if>
            <if test="gender!=null and gender!=''">
                #{gender},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="Student">
        UPDATE student
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="selectByCondition2" parameterType="Student" resultType="Student">
        SELECT * FROM student
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="name != null and name != ''">
                AND name LIKE concat('%', #{name}, '%')
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </trim>
    </select>
</mapper>
  